@import "../css/global.scss";

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.hero,
:root[data-theme='dark'] .hero {
  padding: 0;
  text-align: center;
  position: relative;
  overflow: hidden;

  display: block;
  background-color: $light-primary-color;
  color: white;

  .container {
    padding-bottom: 4rem;
  }

  .buttonMain {
    --ifm-button-background-color: #{$light-secondary-color};
    --ifm-button-border-color: white;
    color: white;
  }
  
}

.landscape {
  background-image: linear-gradient(to top, $light-primary-color 00%, rgba($light-primary-color, 0) 10%), url("/img/landscape.jpg");
  background-size: cover;
  background-position: center bottom;
  height: 40rem;
}