@import "../../css/global";

.timelineContainer {
  margin: 3rem auto;
  padding: 0 2rem;
  max-width: 500px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 2rem;

  .dateContainer {
    &:nth-last-child(2) {
      .dateFill {
        display: none;
      }
    }
  }
}

.dateBlob {
  position: relative;
  z-index: 10;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: solid 5px var(--ifm-color-primary);
  > div {
    text-align: center;
  }
  .date {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.1rem;
  }
  .month {
    font-size: 1rem;
    line-height: 0.5rem;
    text-transform: uppercase;
  }

  .dateContainer.past & {
    background-color: rgba(green, 1);
    color: white;
  }

  .dateContainer.next & {
    border: solid 5px var(--ifm-color-secondary);
  }
}

.dateFill {
  position: relative;
  z-index: 1;
  width: 0;
  border: 3px solid var(--ifm-color-primary);
  min-height: 4rem;
  margin: -3px auto;

  .dateContainer.next &,
  .dateContainer.future & {
    border: 3px dashed var(--ifm-color-primary);
  }
}

.details {
  .title {
    font-size: 1.2rem;
    font-weight: bold;
  }
}